@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 16px;
  border: none;
  background: none;
  box-sizing: border-box;
}

:root {
  --clr--container: rgb(232, 232, 232);
  --clr--container--hover: rgb(216, 213, 213);
  --clr--body: rgba(252, 207, 205, 0.62);
  --ff--logo: "Bebas Neue", sans-serif;
  --ff--body: "Roboto", sans-serif;
}

a:visited,
a:active,
a:link {
  color: black;
  text-decoration: none;
}

p,
button {
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;
}

img {
  display: flex;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  /* background-color: var(--clr--body); */
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* ============= HEADER =========== */

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-content: center; */
  background-color: var(--clr--container);
  width: 100%;
}

.nav {
  display: flex;
  flex-wrap: nowrap;
}

.nav-link {
  width: fit-content;
  color: black;
}

.navbar-wrapper {
  display: flex;
  /* justify-content: end; */
  width: 100%;
}

/* ============= Logo =========== */

.panda-logo {
  display: flex;
  width: fit-content;
  align-items: center;
  padding-left: 1em;
  gap: 0.25em;
}

.panda-logo-img {
  display: flex;
  width: 65px;
  height: 80px;
  padding: 0.25em;
}

.panda-logo-text {
  margin: 0;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  font-family: var(--ff--body);
  width: fit-content;
}

.panda-logo span {
  font-size: 2em;
}

/* ====== Category Btn List ===== */

.categoryBtnList {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  margin-bottom: 2em;
}

.categoryBtn {
  border: 1px solid grey;
  border-radius: 3em;
  padding: 0.5em;
  font-size: 1.25em;
  width: 100px;
}

/* ============= Cart =========== */

.shopping-cart-wrapper {
  display: flex;
  flex-direction: column;
}

.shopping-cart-header {
  display: flex;
  flex-direction: column;
  background-color: var(--clr--container);
  padding: 0.5em 2.5em 0 0.25em;
}

.shopping-cart-header h2 {
  font-size: 1.25em;
}

.shopping-cart-header h3 {
  font-size: 1em;
}

.shopping-cart-detail {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  gap: 0.5em;
}

.name-price {
  display: flex;
  flex-direction: column;
}

/* .name-price p {
  margin: 0;
} */

.cart {
  position: fixed;
  top: 63px;
  right: 63px;
  border: 1px solid var(--clr--container--hover);
  border-radius: 0.25em;
  background-color: white;
  width: fit-content;
}

.cart .close {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  cursor: pointer;
  color: black;
}

.cart .close:hover {
  text-decoration: underline;
  font-weight: bold;
}

.cart-closed,
.cart-open {
  position: fixed;
  top: 15px;
  right: 25px;
  cursor: pointer;
  background-color: white;
  border: 1px solid var(--clr--container--hover);
  border-radius: 50%;
  padding: 0.25rem;
  width: 30px;
  height: 30px;
}

.sign-in-icon-wrapper {
  position: fixed;
  top: 15px;
  right: 65px;
  cursor: pointer;
  background-color: white;
  border: 1px solid var(--clr--container--hover);
  border-radius: 50%;
  padding: 0.25rem;
  width: 30px;
  height: 30px;
}

.sign-in-icon-wrapper:hover {
  background-color: var(--clr--container--hover);
}

.cart-closed:hover {
  background-color: var(--clr--container--hover);
}

.open-shopping-cart:hover {
  background-color: var(--clr--container--hover);
}

.cart-length {
  position: fixed;
  top: 7px;
  right: 17px;
  padding-left: 6px;
  background-color: red;
  color: white;
  border: 1px solid white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 0.8em;
  font-weight: bold;
}

.item-detail {
  display: flex;
  align-items: end;
  gap: 0.5em;
  padding: 0.5em 0;
}
.item-detail input {
  display: flex;
  width: 70px;
  border: 1px solid var(--clr--container);
}

.remove-item {
  background-color: var(--clr--container);
  border-radius: 0.25em;
  padding: 0 0.25em;
}

.remove-item:hover {
  cursor: pointer;
  background-color: var(--clr--container--hover);
}

/* --- cart "x" button ---*/

.exit-before {
  font-size: 1.5em;
}

.exit-before:hover {
  border-radius: 50%;
  background-color: grey;
  color: white;
  border: 1px solid black;
}

.shopping-cart,
.shopping-cart-open {
  font-size: 1em;
}

.sign-in-icon {
  font-size: 1em;
  padding-left: 3px;
  padding-bottom: 2px;
}

.shopping-cart:hover {
  background-color: var(--clr--container--hover);
}

.cart img {
  width: 100px;
  margin-right: 1em;
}

.cart-empty {
  font-size: 1em;
  padding: 0 0.75em;
}

.checkout-line {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-top: 1px solid var(--clr--container--hover);
}

.checkout-total {
  display: flex;
  justify-self: end;
}

.checkout-login-text {
  background-color: var(--clr--container);
  border-radius: 0.25em;
  text-align: center;
  padding: 0.25em 0;
}

.checkout-login-text:hover {
  cursor: pointer;
  background-color: var(--clr--container--hover);
}

.checkout-total,
.item-price {
  font-weight: bold;
}

/* ============= Product List =========== */

.product-card-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 1em;
}

.product-card {
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  border-radius: 0.25em;
  width: 25%;
  height: 350px;
  overflow: hidden;
}

.product-card-image {
  display: flex;
  height: 200px;
  border: 1px solid var(--clr--container--hover);
}

.product-card-image img {
  object-fit: cover;
  object-position: top;
}

.product-card-image img:hover {
  object-fit: contain;
}

.product-card-detail {
  display: flex;
  flex-direction: column;
  height: 40%;
  padding: 1em;
}

.product-card-stats {
  display: flex;
  flex-direction: column;
}

.addCartBtn {
  background-color: var(--clr--container);
  border-radius: 0.25em;
}

/* ========= LOGIN/SIGNUP ========= */

.login-signup {
  display: flex;
  flex-direction: column;

  border: 1px solid grey;
  border-radius: 0.25em;
  padding: 1em;
  width: 75%;
}

/* ============= FOOTER =========== */

footer {
  display: flex;
  justify-content: center;
  bottom: 0;
  background-color: var(--clr--container);
  width: 100%;
  padding: 1em;
}

/* ============= MEDIA QUERIES =========== */

@media only screen and (min-width: 1200px) {
  .product-card {
    width: 20%;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .panda-logo {
    align-self: center;
  }

  .panda-logo span {
    font-size: 2em;
  }

  .product-card {
    width: 40%;
  }
}

@media only screen and (max-width: 768px) {
  .panda-logo {
    align-self: center;
  }

  .panda-logo-text {
    flex-direction: column;
  }

  .cart-closed,
  .cart-open {
    top: 55px;
    right: 25px;
  }

  .sign-in-icon-wrapper {
    top: 15px;
    right: 25px;
  }

  .cart-length {
    top: 47px;
    right: 17px;
  }

  .categoryBtnList {
    justify-content: center;
  }

  .categoryBtn {
    border: 1px solid grey;
    border-radius: 3em;
    padding: 0.5em;
    font-size: 1.25em;
    width: 100px;
  }

  .product-card-list {
    justify-content: center;
    padding: 0 1em;
  }

  .product-card {
    width: 100%;
  }
}

@media (min-width: 500px) and (max-width: 768px) {
  .product-card {
    width: 40%;
  }
}
