@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 16px;
  border: none;
  background: none;
}

:root {
  --clr--container: rgb(232, 232, 232);
  --clr--body: rgba(252, 207, 205, 0.62);
  --ff--logo: "Bebas Neue", sans-serif;
  --ff--body: "Roboto", sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;
}

img {
  display: flex;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  /* background-color: var(--clr--body); */
}

/* ============= HEADER =========== */

header {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-content: center; */
  background-color: var(--clr--container);
  width: 100%;
}

.nav {
  display: flex;
  flex-wrap: nowrap;
}

.nav-link {
  width: fit-content;
  color: black;
}

.shopping-nav {
  display: flex;
  /* justify-self: flex-start; */
  /* align-items: start; */
  margin: 0;
  padding: 0;
  width: fit-content;
  color: black;
}

.navbar-wrapper {
  display: flex;
  /* justify-content: end; */
  width: 100%;
}

/* ============= Logo =========== */

.panda-logo {
  display: flex;
  width: 100%;
  align-content: center;
  padding: 0.5em;
  gap: 0.25em;
}

.panda-logo-img {
  display: flex;
  width: 60px;
  padding: 0.25em;
}

.panda-logo-text {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  font-family: var(--ff--body);
  width: 100%;
}

.panda-logo span {
  font-size: 1.5em;
}

/* ====== Category Btn List ===== */

.categoryBtnList {
  display: flex;
  gap: 1em;
}

.categoryBtn {
  border: 1px solid grey;
  border-radius: 3em;
  padding: 0.5em;
  font-size: 1.25em;
  width: 100px;
}

/* ============= Cart =========== */

.cart {
  position: fixed;
  top: 0;
  right: 0;
  border: 1px solid grey;
  border-radius: 0.25em;
  background-color: white;
  /* box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5); */
}

.cart .close {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  cursor: pointer;
  color: black;
}

.cart-closed {
  position: fixed;
  top: 2%;
  right: 1%;
  font-size: 2rem;
  cursor: pointer;
  background-color: white;
  border-radius: 50%;
  padding: 0.25rem;
  width: 50px;
  height: 50px;
}

.cart img {
  width: 70px;
  margin-right: 1rem;
}

/* ============= Product List =========== */

.product-card-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 1em;
}

.product-card {
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  border-radius: 0.25em;
  width: 30%;
}

/* ============= FOOTER =========== */

footer {
  display: flex;
  justify-content: center;
  bottom: 0;
  background-color: var(--clr--container);
  width: 100%;
  padding: 1em;
}

/* ============= MEDIA QUERIES =========== */

@media (min-width: 768px) and (max-width: 992px) {
  .product-card {
    width: 40%;
  }
}

@media only screen and (max-width: 768px) {
  .product-card {
    width: 100%;
  }
}
